body {
  margin: 0;
  font-family: 'Poppins, sans-serif';
  background-image: url('https://www.source.unsplash.com/random');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
